/* .sidebar {
    width: 15%;
    position: fixed;
    height: 100%;
    border-right: 2px solid rgb(39, 47, 41);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.sidebar {
    border-radius: 1rem; 
    border-width: 8px; 
    width: 300px;
    padding: 10px;
    margin-left: 40px;
    height: fit-content; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
    float: left;
}

.p-panelmenu .p-panelmenu-header:not(.p-disabled).p-highlight .p-panelmenu-header-content {
    background: rgb(221, 44, 44);
    border-color: #dee2e6;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-bottom: 0;
    font-size: larger;
}

.p-highlight .p-menuitem-text {
    color: white;
}

.p-highlight .p

.sidebar h4 {
    margin-left: 5px;
}

.p-menuitem-active a {
    font-size: larger;
}

/*.p-panelmenu-content .p-menuitem .p-menuitem-content .p-menuitem-link {
	font-size: larger;
}*/ 

/* ^^ tried highlighting menu items that have been clicked and are active filters */
